body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2; /* Cor de fundo leve */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #ffffff; /* Cor de fundo do container */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 360px;
    text-align: center;
}

.login-container img {
    width: 150px;
    margin-bottom: 20px;
}

.login-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #131921; /* Cor do título */
}

.login-container input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-container button {
    width: 100%;
    padding: 12px;
    background-color: #ffa41c; /* Cor do botão */
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-container button:hover {
    background-color: #e89d1b; /* Cor do botão ao passar o mouse */
}

.login-container .message {
    margin-top: 10px;
    color: #555; /* Cor da mensagem */
    font-size: 14px;
}

.login-container .message a {
    color: #007bff; /* Cor do link */
    text-decoration: none;
}

.login-container .message a:hover {
    text-decoration: underline;
}
